
.product-wrapper {
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Amatic SC', cursive;
}

.products {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products-title{
    font-size: 7vw;
}

.content {
    width: 50%;
    margin:10px;
}

.btn{
    width: 10%;
}

.card {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 82%;
    width: 100%;
    background-color: transparent;
}

.card img {
    max-width: 50%;
    width: 100%;
}