.Tabs {
  position: relative;
  display: inline-block;
}

.Tabs__Tab {
  display: inline-block;
  padding: 0.2em;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.Tabs__Tab:hover, .Tabs__Tab--active {
  background:white;
  color: black;
}