.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
}

.photo{
    height: 90vh;
}

.ssu {
    margin-top: -76px;
    font-family: paper;
    font-size: 10vw;
    color: white;
}