.toolbar{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100px;
    z-index: 9999;
}

.toolbar_navigation{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.spacer{
    flex: 1;
}

/* ---------LOGO---------- */
.toolbar_logo {
    margin-left: 1rem;
}

.toolbar_logo img {
    height: 100px;
    padding-top: 10px;
}

/* --------LINKS--------- */

.toolbar_nav_items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Ruthie', cursive;
    color: white;
}

.li {
    font-size: 30px;
    padding: 0 0.5rem; 
}

.toolbar_nav_items li:hover,
.toolbar_nav_items li:active{
    cursor: pointer;
    color: goldenrod;
}

/* ------ICONS------- */

.toolbar_nav_icons ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_nav_icons li{
    padding: 0 0.5rem;
    font-size: 30px; 
}

.toolbar_nav_icons a{
    color: white;
    text-decoration: none;
}

.toolbar_nav_icons a:hover,
.toolbar_nav_icons a:active{
    color: goldenrod;
}

/* ------RESPOSINVENESS------ */

@media (max-width: 768px){
    .toolbar_nav_items{
        display: none
    }
}

@media (min-width: 769px) {
    .toolbar_toggle_button {
        display: none;
    }

    .toolbar_logo {
        margin-left: 0;
    }
}