 

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 1);
  overflow-x: hidden;
}

@font-face {
  font-family: paper;
  src: url("./font/paper.ttf");
  font-style: normal;
  font-weight: 100;
}